<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Budget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add this to <head> -->
    <link type="text/css" rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="vendor/bootstrap-vue/bootstrap-vue.min.css"/>
    <!-- vue.js -->
    <script type="text/javascript" src="vendor/vue/vue.js"></script>
    <!-- Add this after vue.js -->
    <script src="vendor/bootstrap-vue/bootstrap-vue.min.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <h1>My Budget</h1>
      <section class="text-warning">
        Income - ${{budget.income}}
        <input type="number" name="income" v-model:number="budget.income">
      </section>
      <section class="text-success">
        Savings - ${{totalSavings}}
      </section>
      <section class="text-danger">
        Spendings - ${{totalSpendings}}
      </section>
      <section>
        <ul class="list-unstyled">
          <li v-for="(spending,key) in budget.spendings" :key="key" class="text-primary">
            {{key}} -
            <div class="row">
              <div class="col text-info">
                Budget - ${{spending.allocated}}
              </div>
              <div class="col text-danger">
                Spent - ${{spending.spent}}
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section>
        <label>New Spending type</label>
        <div class="form-group">
          <input type="text" name="category" v-model="new_category" @keyup.enter="addSpendingType" placeholder="category">
        </div>
        <div class="form-group">
          <input type="number" name="budget" v-model:number="new_budget" @keyup.enter="addSpendingType" placeholder="budget">
        </div>
        <button type="button" name="button" @click="addSpendingType">Add</button>
      </section>
      <section>
        <label>New Expense</label>
        <div class="form-group">
          <select name="category" v-model="new_expense">
            <option disabled value="">Please select one</option>
            <option v-for="(spending,key) in budget.spendings" :key="key" v-bind:value="key">{{key}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" name="expense value" v-model:number="new_expense_value" @keyup.enter="addExpense" placeholder="Value">
        </div>
        <button type="button" name="button" @click="addExpense">Add</button>
      </section>
    </div>
  </body>
  <script type="text/javascript">
    var app = new Vue({
      el:"#app",
      data:{
        budget:{
          income:5000,
          savings:1000,
          spendings:{
            shopping: {allocated:100, spent:50},
            pocketmoney: {allocated:300, spent:200},
            groceries: {allocated:200, spent:0},
            utilities: {allocated:260, spent:0},
          }
        },
        new_category:'',
        new_budget:'',
        new_expense:'',
        new_expense_value:''
      },
      computed:{
        totalSpendings (){
          let total =[];
          Object.entries(this.budget.spendings).forEach(([key, val]) => {
            total.push(val.spent);
          });
          return total.reduce(function(total, num){return total + parseInt(num) },0);
        },
        totalSavings (){
          return this.budget.income - this.totalSpendings;
        },
      },
      methods: {
        addSpendingType (){
          if (this.new_category && this.new_budget) {
            Vue.set(this.budget.spendings, this.new_category, {'allocated':this.new_budget, 'spent':0});
            this.new_category =''; this.new_budget = '';
          }
        },
        addExpense (){
          if (this.new_expense && this.new_expense_value) {
            let new_spent = parseInt(this.new_expense_value) + this.budget.spendings[this.new_expense].spent;
            Vue.set(this.budget.spendings[this.new_expense], 'spent',new_spent);
            this.new_expense =''; this.new_expense_value = '';
          }
        }
      }
    });
  </script>
</html>
